*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

* {
	font-family: "Brush Script MT", "Times New Roman", Arial, sans-serif;
}

body {
	background-color: #C71585;
}

div.main {
	background: white;
	padding: 20px;
	margin: 20px;
	border: 20px solid #6B8E23;	
	text-align: center;
}

div.main li,
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

div.main h1 {
	color: black;
	font-family: "Lucide Handwriting", sans-serif;
}

.construction img{
	display: block;
	width: 200px;
	height: auto;
	margin: 0px auto 10px;
	transform: rotate(290deg);
}

.construction {
	text-align: center;
	font-weight: bold;
}

body.recipe {
	background-color: #6B8E23;
	border: 20px solid #C71585;
	margin: 20px 20px;
}

.card {
	background-color: white;
	padding: 20px;
}

.recipe img {
	width: 700px;
	height: auto;
	margin: 0px auto;
}

/* Alternate sizing for potato ham soup. Bandaid solution. */
.recipe img.phs {
	width: auto;
	height: 400px;
	margin: 0px auto;
}
